@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Database Connect Error</title>
</head>
<body>
    <div>
        <h1>Database Connection Error</h1>
        <p>There was an error connecting to the database. Please try again later.</p>
    </div>
</body>
</html>
